<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Ing Carlos Reyes</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <!-- Favicons -->
  <link href="/assets/prueba2/assets/img/favicon.png" rel="icon">
  <link href="/assets/prueba2/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="/assets/prueba2/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/prueba2/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/prueba2/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/prueba2/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/prueba2/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/assets/prueba2/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assets/prueba2/assets/css/main.css" rel="stylesheet">
</head>
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
          
       <h1 class="d-flex align-items-center">Carlos Uriel Reyes </h1>
      </a>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar" >
        <ul >
          <li class="submitBtn2"><a href="/inicio" class="center2">Recaudos&nbsp;&nbsp;&nbsp;</a></li>
        </ul>
        <ul >
          <li class="submitBtn2"><a href="/reporte"> Reporte &nbsp;&nbsp;&nbsp;</a></li>
        </ul>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->
  <div class="breadcrumbs2 d-flex align-items-center" style="background-image: url('/assets/images/index.jpg');">
    
  </div><!-- End Breadcrumbs -->
