Back/RecaudosAPI/RecaudosAPI/obj/Debug/net6.0/RecaudosAPI.csproj.AssemblyReference.cache
Back/RecaudosAPI/RecaudosAPI/obj/Debug/net6.0/RecaudosAPI.csproj.CoreCompileInputs.cache
Back/RecaudosAPI/RecaudosAPI/obj/Debug/net6.0/RecaudosAPI.dll
Back/RecaudosAPI/RecaudosAPI/obj/Debug/net6.0/RecaudosAPI.pdb
Back/RecaudosAPI/RecaudosAPI/obj/Debug/net6.0/ref/RecaudosAPI.dll
Back/RecaudosAPI/RecaudosAPI/obj/Debug/net6.0/refint/RecaudosAPI.dll
Back/RecaudosAPI/.vs/ProjectEvaluation/recaudosapi.metadata.v6.1
Back/RecaudosAPI/.vs/ProjectEvaluation/recaudosapi.projects.v6.1
Back/RecaudosAPI/.vs/RecaudosAPI/DesignTimeBuild/.dtbcache.v2
Back/RecaudosAPI/.vs/RecaudosAPI/FileContentIndex/6c1b5389-d90a-4eb0-9a45-1272ace1c44a.vsidx
Back/RecaudosAPI/.vs/RecaudosAPI/FileContentIndex/22928c21-c5f3-42f9-a74a-941a3dcf257f.vsidx
Back/RecaudosAPI/.vs/RecaudosAPI/FileContentIndex/d36e9e88-d4ec-4c84-b27e-7a86d3fe2a11.vsidx
Back/RecaudosAPI/.vs/RecaudosAPI/FileContentIndex/d0686596-447e-4195-812b-93cb0187d637.vsidx
Back/RecaudosAPI/.vs/RecaudosAPI/FileContentIndex/dd4cad8f-c693-4313-95f9-31dd2d2468db.vsidx
Back/RecaudosAPI/.vs/RecaudosAPI/FileContentIndex/ea702ce5-a242-47f5-b727-8d6a01865e89.vsidx
Back/RecaudosAPI/.vs/RecaudosAPI/v17/.futdcache.v2
Back/RecaudosAPI/.vs/RecaudosAPI/v17/.suo
Back/RecaudosAPI/RecaudosAPI/bin/Debug/net6.0/RecaudosAPI.dll
Back/RecaudosAPI/RecaudosAPI/bin/Debug/net6.0/RecaudosAPI.pdb
