<section id="call-to-action" class="call-to-action">
    <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <h3>Recaudos</h3>
            </div>
        </div>
    </div>
</section>
<br>
<div class=" div2 center">
      
        <input class="div2 center2" matInput type="text" id="fname" name="firstname" (keyup)="filter($event)" placeholder="Buscar">
  

    <table mat-table [dataSource]="dataSource">
  
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>id</th>
            <td mat-cell *matCellDef="let t">{{ t.id }}</td>
        </ng-container>
        <ng-container matColumnDef="estacion">
            <th mat-header-cell *matHeaderCellDef>Estación</th>
            <td mat-cell *matCellDef="let t">{{ t.estacion }}</td>
        </ng-container>
        <ng-container matColumnDef="sentido">
            <th mat-header-cell *matHeaderCellDef>Sentido</th>
            <td mat-cell *matCellDef="let t">{{ t.sentido }}</td>
        </ng-container>
        <ng-container matColumnDef="hora">
            <th mat-header-cell *matHeaderCellDef>Hora</th>
            <td mat-cell *matCellDef="let t">{{ t.hora }}</td>
        </ng-container>
        <ng-container matColumnDef="categoria">
            <th mat-header-cell *matHeaderCellDef>Categoría</th>
            <td mat-cell *matCellDef="let t">{{ t.categoria }}</td>
        </ng-container>
        <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef>Cantidad</th>
            <td mat-cell *matCellDef="let t">{{ t.cantidad }}</td>
        </ng-container>
        <ng-container matColumnDef="valorTabulado">
            <th mat-header-cell *matHeaderCellDef>ValorTabulado</th>
            <td mat-cell *matCellDef="let t">{{ t.valorTabulado }}</td>
        </ng-container>
        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef>Fecha</th>
            <td mat-cell *matCellDef="let t">{{ t.fecha }}</td>
        </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
  